doctype html
html 
    head
      script(src='/js/index.js')
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/stylesheets/home-project.css')
      link(href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet")
      link(rel='icon' type='image/png' href='/images/favicons.png')
      title Home - C.A.R.L.
    body
      div.main
        .side-bar
          .tabs.home-tasks
            h2
              a(onclick=`location.href='/'`) C.A.R.L.
            div &#x1F3E0; Home
          .tabs.favorites
            h3 Favorites
            p click on the &star; next to a project
          .tabs.projects
            h3 Projects
            if projects
              each existingProject in projects
                .project-list
                  a(href=`/teams/${teamId}/projects/${existingProject.id}/columns`)
                    span.project-name= existingProject.projectName
                    span.favorite-click &star;
          .tabs.invite
            div.for-button
              img.invite-peeps(src="/images/invite_peeps.png")
              p Invite your team and start collaborating!
              #button Invite to C.A.R.L.
        .main-page
          .nav-bar
            .nav-bar-div
              .nav-bar-item.side-bar-opener ⇚
              h3(onclick=`location.href='/teams/${teamId}/projects';`) Home
            h3 Team: #{team.teamName}
            .nav-bar-div
              h3 Welcome #{user.firstName}
              if userId
                .initials-div #{initials}
                  .user-options(style="display: none")
                    div(onclick=`location.href='/users/edit/${userId}';`) EDIT PROFILE
                    div
                      form.navbar-nav(action='/users/logout' method='post')
                        input.logout.nav-item.text-muted(type='submit' value='Logout')
          block content

