extends layout.pug

block content
  h3 Team Name: #{project.Team.teamName}

  div.wrapper
    table.table
      thead
        tr
          th Project ID
          th Project Name
      tbody
        each project in projects
          tr
            td= project.id
            td= project.projectName
            td
              a.btn.btn-primary(href=`/teams/${teamId}/projects/${project.id}/delete` role='button') Delete
            td
              a(href=`/teams/${teamId}/projects/${project.id}/edit` role='button') Edit

  div
    a(href=`/teams/${teamId}/projects-create` role='button') Add Project