extends layout.pug

block content
  div.wrapper
    table.table
      thead
        tr
          th User ID
          th First Name
          th Last Name
          th eMail
          th Team ID
      tbody
        each user in users
          tr
            td= user.id
            td= user.firstName
            td= user.lastName
            td= user.email
            td= user.teamId
