extends ../layout.pug
include columns-utils.pug

block content
  h3 Edit Column

  body
    +error(error)
    form(action=`/teams/${teamId}/projects/${projectId}/columns/${columnId}/edit` method='post')
      include columns-form-fields.pug
      div
        button(type='submit') Update Column
        a(href=`/teams/${teamId}/projects/${projectId}/columns` roll='button') Cancel