extends ../layout.pug

block content
  div.wrapper
    h4.pb-4.text-muted Teams
    table.table
      thead
        tr
          th Task ID
          th Task
          th Due Date
          th Column ID
          th Column Index
          th
      tbody
        each task in tasks
          tr
            td= task.id
            td= task.taskDescription
            td= task.dueDate
            td= task.columnId
            td= task.columnIndx
            td: .d-flex.justify-content-end
              a.btn.btn-secondary.ml-2(href=`/teams/${task.Column.Project.Team.id}/projects/${task.Column.Project.id}/columns/${task.Column.id}/tasks/${task.id}/edit` role='button') Edit
              a.btn.btn-secondary.ml-2(href=`/teams/${task.Column.Project.Team.id}/projects/${task.Column.Project.id}/columns/${task.Column.id}/tasks/${task.id}/delete` role='button') Delete
    a.btn.btn-secondary.ml-2(href=`/teams/${teamId}/projects/${projectId}/columns/${columnId}/tasks/create` role='button') Add Task
