extends ../layout.pug
include task-utils.pug

block content
  .wrapper-edit
    body
      +error(error)
      h3.text-center.text-muted Edit Task
      form.form-group-edit-user(action=`/teams/${task.Column.Project.Team.id}/projects/${task.Column.Project.id}/columns/${task.Column.id}/tasks/${task.id}/edit` method='post')
        include task-form-fields.pug
        div.py-4
          button(type='submit') Update Task
          a(href=`/teams/${task.Column.Project.Team.id}/projects/${task.Column.Project.id}/columns` roll='button') Cancel