input(type='hidden' name='_csrf' value=csrfToken)
div
  label Project Name:
  input(type='text' name='projectName' value=project.projectName)


//- input(type='hidden' name='_csrf' value=csrfToken)
//-         input(placeholder='Enter Project Name' type='text' name='projectName' value='project.projectName')
//-         select(name='teamId')
//-           each team in allTeams
//-             if team.id == teamId
//-               option(value=team.id selected)= team.teamName
//-             else 
//-               option(value=team.id)= team.teamName
