extends ../layout.pug
include project-utils.pug
block content
  .project-label
    div YOUR PROJECTS
  .main-page-body
    each existingProject in projects
      .project-square(onclick=`location.href='/teams/${teamId}/projects/${existingProject.id}/columns'` )
        .project-options
          a.delete-button(href=`/teams/${teamId}/projects/${existingProject.id}/delete`) &#x1D5EB
          a.edit-button(href=`/teams/${teamId}/projects/${existingProject.id}/edit`) EDIT
        .project-title=existingProject.projectName
    .project-square.project-new +
  if error
    #createModal.modal(style="display: block")
      include create-modal.pug
  else
    #createModal.modal(style="display: none")
      include create-modal.pug
