doctype html
include project-utils.pug
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/home-project.css')
  title SandBox
body
  
  if error
    #createModal.modal(style="display: block")
      include create-modal.pug
  else
    #createModal.modal(style="display: none")
      include create-modal.pug
  #deleteModal.modal
  .main
    // side-bar__isCollapsed
    .side-bar.side-bar__isCollapsed
      .tabs.home-tasks
        h1 CARL
        div &#x1F3E0; Home
        div &#x2714;  My Tasks
      .tabs.favorites
        h2 Favorites
        p click on the &star; next to a project
      .tabs.projects
        h2 Projects
        each existingProject in projects
          .project-list
            a(href=`/teams/${teamId}/projects/${existingProject.id}`)
              span.project-name= existingProject.projectName
              span.favorite-click &star;
      .tabs.invite
        #button
          p Invite to CARL
    .main-page
      .nav-bar
        .nav-bar-item.side-bar-opener &rAarr;
        h3 HOME
      .project-label
        div YOUR PROJECTS
      .main-page-body
        each existingProject in projects
          a(href=`/teams/${teamId}/projects/${existingProject.id}`)
            .project-square= existingProject.projectName
              .delete-button &#x1D5EB
                .delete-confirmation
                  div
                    p Proceed with deleting this project?
                  div
                    form(action=`/teams/${teamId}/projects/${existingProject.id}/delete` method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        button(class='btn btn-danger' type='submit') Delete Project
                        a(class='btn btn-warning ml-2' href=`/teams/${teamId}/projects` role='button') Cancel
        .project-square.project-new +
                      // <div class='body-page'>dsf</div>
  script(src='/js/index.js')