extends ../layout.pug

block content
  div.wrapper
    table.table
      thead
        tr
          th User ID
          th First Name
          th Last Name
          th eMail
          th Team ID
          th
      tbody
        each user in users
          tr
            td= user.id
            td= user.firstName
            td= user.lastName
            td= user.email
            td= user.teamId
            td
              div.d-flex
                a.btn.btn-secondary.ml-2(href=`users/edit/${user.id}`) Edit
                form(action=`/users/delete/${user.id}` method='post')
                  button(type='submit' class='btn btn-secondary ml-2') Delete
