include ../utils.pug

doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CARL - Register
        link(rel='stylesheet' type='text/css' href='/stylesheets/user-register.css')
        link(href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet")
    body
      div(class="login-page")
      a(href="/" class="logo-header") C.A.R.L.
      div(class='form-container')
        h2(class='form-heading') User Registration
        +validationErrorSummary(errors)
        form(class='authForm' action='/users/register' method='post')
          input(type='hidden' name='_csrf' value=token)
          div(class="input-group")
            input(type="text" class="input-field" id="firstName" name='firstName' value=user.firstName placeholder="First Name")
            span(class='bar')
          div(class="input-group")
            input(type='text' class="input-field" id="lastName" name='lastName' value=user.lastName placeholder="Last Name")
            span(class='bar')
          div(class="input-group") 
            input(type='email' class="input-field" id="email" name='email' value=user.email placeholder="Email Address")
            span(class='bar')
          div(class="input-group")  
            input(type="password" class="input-field" id="password" name='password' placeholder="Password")
            span(class='bar') 
          div(class="input-group")
            input(type="password" class="input-field" name='confirmPassword' placeholder="Confirm Password")
            span(class='bar')
          div(class='input-option')
            //- p(class='team') Choose your team 
            select(class='select' name="teamId")
              option(disabled selected value) - Choose Your Team -
              each team in teams
                option(class='select-item' value=team.id)= team.teamName    
          div(class="input-group")
            button(type='submit' class='submit-button') Register
        form(class='authForm-2' action='/users/login-demo' method='post')
            input(type='hidden' name='_csrf' value=token)
            div(class='input-group button-2')
              button(type='submit' class='login-demo') Demo User    
      div(class="switch-login")
        p Already have an account?
        a(href='/users/login') Log In 